.header{
    background-color: violet;
    height: 100px;
    width: 1500px;
    text-align-last: center;
    padding-top: 50px;
    font-size: xx-large;
}
.firstimage{
    display: flex;
    justify-content: space-around;
}